/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.likes a{
  color:#242526;
  font-weight:600;
  text-decoration: none;
  outline: none
}

.thumbnail{
    width: 640px; // or you could use percentage value for responsive layout
    height: auto;
    overflow: auto;
}

.time{
  color: grey;
  padding-right: 2%;
}

.likes{
  padding-top: 1%;
  padding-bottom: 1%;
}

.user_name {
  padding-left: 2%;
}

.user_name a{
  color:#242526;
  text-decoration: none;
  outline:none
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar-brand {
  a {
    color: #125688;
    text-decoration: none;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 98%;
  margin: 0 auto;
}

.comments {
  line-height: 25px;
  padding-top: 1%
}

  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.like {
  text-decoration: none;
  color: #f44268;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: #f44268;
}

.like-button a{
  color: #f44268;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
